<%= form_for @post, html: {multipart: true} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div id="content" class="field">
    
  </div>
  <div id="content_add_button">
    <button type="button" onclick="addText()">Add Text</button>
    <button type="button" onclick="addPicture()">Add Picture</button>
  </div>
  <div>
    <%= f.label :tag_ids %><br>
    <% if @post.try(:tags) %>
      <%= f.text_field :tag_ids, value: "", value: @post.tags.map {|c| c.name}.join(', ') %>
    <% else %>
      <%= f.text_field :tag_ids, value: "" %>
    <% end %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
  var x = 0;
  
  function addText() {
    $("#content").append('<div><textarea name="content[content][' + x++ + ']"></textarea></div>');
  }
  
  function addPicture() {
    $("#content").append('<div><input type="file" name="content[picture][' + x++ + '"></div>');
  }
</script>