<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Tags:</strong>
  <% @post.tags.each do |t| %>
    <%= link_to t.name, t %><% if @post.tags.last != t %>, <% end %>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <% if @post.user != nil %>
    <%= @post.user.email %>
  <% else %>
    [User Deleted]
  <% end %>
</p>

<% if @post.user != nil %>
  <%= image_tag @post.user.gravatar_url(:default => "wavatar") %>
<% end %>

<p>
  <% if (current_user == @post.user  && @post.user != nil) || current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_post_path(@post) %>
  <% end %>
</p>
<%= link_to 'Back', posts_path %>
